<!-- Your project archive is 193 MB. You can reduce its size and the time it takes to upload by excluding files that  -->
<!-- are unnecessary for the build process in .easignore file. Learn more: https://expo.fyi/eas-build-archive  -->
/android
/ios
android/
ios/
<!-- ignore android and ios -->
android
ios