# React Native
# Build artifacts
android/.gradle/
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/res/drawable-mdpi/ic_launcher.png
android/app/src/main/res/drawable-hdpi/ic_launcher.png
android/app/src/main/res/drawable-xhdpi/ic_launcher.png
android/app/src/main/res/drawable-xxhdpi/ic_launcher.png
android/app/src/main/res/drawable-xxxhdpi/ic_launcher.png

# CocoaPods
ios/Pods/
ios/Podfile.lock

# MacOS
.DS_Store

# NPM
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React Native bundler
.babelrc
babel.config.js
metro.config.js
jest-setup.js

# Misc
.env
*.log

# Android Studio
.idea/
.gradle/
local.properties
